@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    /* background: linear-gradient(35deg,rgb(79, 79, 186), white); */
    background: url(images/aum.jpg);

    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10px;
}
.todo{
    /* background: url(images/aum.jpg); */
    background: white;
    margin: 100px auto 20px;
    width: 100%;
    padding: 40px 50px 70px;
    max-width: 540px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
}
.todo h1{
    color: #063177;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo img{
    width: 45px;
    margin-right: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aliceblue; */
    /* background: rgb(202, 219, 251); */
    background: linear-gradient(90deg,rgb(202, 219, 251),white);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    font-size: large;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 18px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(173, 198, 245);
    
    color: rgb(247, 251, 254);
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
}
button:hover{
    background: rgb(154, 183, 237);
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
} 
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/ul.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked{
    color: rgb(124, 166, 249);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/cl.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: rgb(162, 162, 193);
    line-height: 29px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(228, 227, 227);
}